* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

/* Individual Pill Modules */
#workspaces,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#tray {
  background: #1e1e2e;
  padding: 4px 12px;
  margin: 2px 3px;
  border-radius: 10px;
  border: 1px solid #313244;
}

/* Workspace Buttons */
#workspaces button {
  padding: 0 6px;
  color: #6c7086;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: #1e1e2e;
  background: #f9e2af;
  font-weight: bold;
}

#workspaces button:hover {
  background: #45475a;
  color: #cdd6f4;
}

/* Specific Module Accents */
#clock {
  color: #f9e2af;
  font-weight: bold;
}

#battery {
  color: #a6adc8;
}

#battery.charging,
#battery.plugged {
  color: #a6e3a1;
}

#battery.warning:not(.charging) {
  color: #fab387;
}

#battery.critical:not(.charging) {
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #fab387;
}

#memory {
  color: #eba0ac;
}

#pulseaudio {
  color: #89b4fa;
}

#network {
  color: #a6e3a1;
}

#network.disconnected {
  color: #f38ba8;
}
